// Colores
$primerColor: #0081C9;
$segundoColor: #5BC0F8;
$tercerColor: #86E5FF;
$cuartoColor: #FEF46D;
$quintoColor: #F53756;
$negro: #000000;
$blanco: #FFFFFF;

// Tipografia

$fuente_principal: 'Montserrat', sans-serif;

// Tamaños de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;