// Colores
$primerColor: #0081C9;
$segundoColor: #5BC0F8;
$tercerColor: #86E5FF;
$cuartoColor: #FFC93C;
$quintoColor: rgba(165,0,255,0.5);
$negro: #000000;
$blanco: #FFFFFF;

// Tipografia

$fuente_principal: 'Montserrat', sans-serif;